.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.introInner {
  margin-right: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 10px;
}

.desc {
  max-width: 446px;
}
.button {
  width: fit-content;
  margin-top: 20px;
}