.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;



}

.introInner {
  margin-right: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 896px) {
    flex-direction: column-reverse;
    padding: 15px;
  }
}

.title {
  margin-bottom: 10px;
  @media (max-width: 896px) {
    margin-top: 20px;
  }
}

.desc {
  max-width: 446px;
}
.button {
  width: fit-content;
  margin-top: 20px;
}