.inner {
  padding: 100px 0;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.content {
  max-width: 430px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.subtitle {
  margin-bottom: 32px;
  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}