@import "../../assets/styles/variables";

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  @media (max-width: 567px) {
    font-size: 36px;
  }
}

.titleDark {
  color: $light-color;
}

.titleLight {
  color: $heading-color;
}